.TitleServices {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.TitleServices  h1 {
  font-size: 2.5em;
}

.TitleServices  p {
  font-size: 1.2em;
}

.Services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.Sports {
  width: 100%;
  max-width: 800px;
  margin-bottom: 40px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
    background-color: var(--light-grey);

}

.Classical {
    width: 100%;
    max-width: 800px;
    margin-bottom: 40px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
      background-color: var(--light-grey);
           
  }


.Services h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.Sports p {
  font-size: 1.2em;
  color:black;
}

.Classical p {
  font-size: 1.2em;
  margin: 27px;
  margin-bottom: 60px;
}

.Services ul {
  list-style-type: none;
  padding: 0;
  padding-bottom: 20px;
}

.Services li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.Services li p {
  margin: 0;
}


.Services li p:first-child::after {
    content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "}



.button1 {
    background-color: var(--dark-blue); /* Set button background color to dark blue */
      color: white; /* Set button text color to white */
      padding: 14px 20px; /* Add padding to the button */
      text-decoration: none; /* Remove underline from the link */
      border-radius: 5px; /* Add rounded corners to the button */
      font-size: 14px; /* Increase font size */
  }

  .button2 {
    background-color: var(--dark-blue); /* Set button background color to dark blue */
      color: white; /* Set button text color to white */
      padding: 14px 20px; /* Add padding to the button */
      text-decoration: none; /* Remove underline from the link */
      border-radius: 5px; /* Add rounded corners to the button */
      font-size: 14px; /* Increase font size */
  }
    

button:hover {
  background-color: var(--dark-blue); /* Darken the button on hover */
}



/* Media query for larger screens */
@media (min-width: 768px) {
  .Services {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .Services > div {
    width: 48%;
  }

  .button {
    padding: 10px 12px; /* Reduce padding on mobile */
    font-size: 20px; /* Reduce font size on mobile */
  }
}

/* Media query for mobile screens */
@media (max-width: 767px) {
  .Services li p:first-child::after {
    content: " . . . . . . .";
  }
}

