/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--sky-blue);
  color: black;
  display: flex;
  flex-direction: column;
}

h1, h2 {
  color: black;
}

p {
  margin: 0.5em 0;
}

/* Title Section */
.TitleServices {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.TitleServices h1 {
  font-size: 2.5em;
}

.TitleServices p {
  font-size: 1.2em;
}

/* Services Section */
.Services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  overflow-y: auto; /* Enable vertical scrolling */
  flex: 1; /* Allow the services section to take up remaining space */
}

.SportsServices, .ClassicalServices {
  background-color: var(--light-grey);
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  padding: 20px;
  margin-bottom: 20px; /* Add margin between service sections */
}

.Services h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.Sports p, .Classical p {
  font-size: 1.2em;
  color: black;
}

.Classical p {
  margin: 27px;
  margin-bottom: 60px;
}

.Services ul {
  list-style-type: none;
  padding: 0;
  padding-bottom: 20px;
}

.Services li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.Services li p {
  margin: 0;
}

.button1, .button2 {
  background-color: var(--dark-blue); /* Set button background color to dark blue */
  color: white; /* Set button text color to white */
  padding: 14px 20px; /* Add padding to the button */
  text-decoration: none; /* Remove underline from the link */
  border-radius: 5px; /* Add rounded corners to the button */
  font-size: 14px; /* Increase font size */
}

.button1:hover, .button2:hover {
  background-color: #002244; /* Darken the button on hover */
}

.Services li p:first-child::after {
  content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .   ";
}

/* Media query for larger screens */
@media (min-width: 800px) {
  .Services {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .Services > div {
    width: 48%;
  }

  .button1, .button2 {
    padding: 10px 12px; /* Reduce padding on larger screens */
    font-size: 20px; /* Increase font size on larger screens */
  }
}

/* Media query for mobile screens */
@media (max-width: 800px) {
  .Services {
    flex-direction: column; /* Stack services vertically */
    align-items: center;
  }

  .ClassicalServices{
    margin-bottom: 20px;
  }

  .Services > div {
    width: 100%;
  }

  .Services li p:first-child::after {
    content: " . . . . . . . . .";
  }
  
  .button1, .button2 {
    padding: 12px 16px; /* Adjust padding on mobile */
    font-size: 16px; /* Adjust font size on mobile */
  }
}


