html, body {
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
}

body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--sky-blue); /* Set background color to light blue */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.CancelationPolicy-container {
  flex: 1; /* Allow the container to take up remaining space */
  padding: 2rem;
  background-color: var(--light-grey); /* Light grey background */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  max-width: 800px; /* Maximum width */
  margin: 2rem auto; /* Center the container */
  overflow-y: auto; /* Enable vertical scrolling */
  -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
}

.CancelationPolicy-container h1 {
  font-size: 2rem;
  color: black;
  margin-bottom: 1rem; /* Space below the heading */
}

.CancelationPolicy-container p {
  font-size: 1.2rem;
  color: black; /* Medium grey text */
  line-height: 1.6; /* Improve readability */
}

html {
  overflow-x: hidden; /* Prevent horizontal scrolling */
  overflow-y: scroll;
}
