/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--sky-blue);
  color: black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  color: var(--dark-blue);
  margin-bottom: 20px;
}

p {
  margin: 0.5em 0;
}

/* Arrival Content Section */
.ArrivalContent {
  flex: 1; /* Allow the container to take up remaining space */
  text-align: center;
  padding: 20px;
  background-color: var(--light-grey);
  border-radius: 10px;
  margin-bottom: 2em;
  overflow-y: auto; /* Enable vertical scrolling */
  -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
}

.ArrivalText {
  margin-bottom: 1em;
}

.ArrivalText p {
  font-size: 1.2em;
  color: black;
}

.ArrivalText a {
  color: var(--dark-blue);
  text-decoration: none;
  font-weight: bold;
}

.ArrivalText a:hover {
  text-decoration: underline;
}

.ParkingText {
  font-size: 1.2em;
  color: black;
  margin-top: 1em;
}


/* Media query for mobile screens */
@media (max-width: 800px) {
  .ArrivalContent {
    padding: 10px;
  }
  .ArrivalContent {
    padding: 10px;
  }
}