html, body {
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
}

.reservation-container {
  display: flex;
  flex-direction: column;
  height: 100%; /* Full viewport height */
  margin: 0;
}

.reservation-box {
  flex: 1;
  display: flex;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
}

iframe {
  border: none; /* Removes border for a cleaner look */
  width: 100%; /* Full width of the container */
  height: 100%; /* Full height of the container */

  max-width: 100%; /* Prevents horizontal overflow */
  max-height: 100%; /* Prevents vertical overflow */
}